<p><a routerLink="/employees">Back-Home</a></p>
  <div class="container"  style="width: 500px; margin-top: 200px;margin-left: 525px;" *ngIf="flag"
 >
    <input type="file" (change)="selectFile($event)" class="form-control-file" id="exampleFormControlFile1">
   <span><i> <button
    name="logout"
    type="button"
    class="btn btn-btn-md btn-outline-primary"
    style="background-color: rgb(0, 0, 121); color: rgb(252, 252, 252);"
   (click)="uploadFile()"
  >
    Upload
  </button> </i></span>
  </div>
  <div class="container" style="text-align: center;" *ngIf="!flag">
    <h2>Please wait.....</h2>
    <h2>Upload inprogress..</h2>

  </div>
