<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="logIn(loginForm.value)">
      <h1>Admin Login</h1>
      <input
        type="text"
        class="fadeIn second"
        formControlName="email"
        placeholder="User"
        required
      />
      <input
        type="Password"
        class="fadeIn third"
        formControlName="password"
        placeholder="Password"
        required
      /><br />
      <input
        type="submit"
        class="fadeIn fourth"
        value="Log In"
        [disabled]="!loginForm.valid"
      />
    </form>
  </div>
</div>
