<p><a routerLink="/home">Back-Home</a></p>
<br />
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <h5 class="my-3">{{employee.name}}</h5>
        <p class="text-muted mb-1">{{employee.email}}</p>
        <p class="text-muted mb-4">{{employee.portfolio}}</p>
        
        <div class="d-flex justify-content-center mb-2">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.name}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.email}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.phone}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Employee ID</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.empId}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Home Manager</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.homeManager}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Location</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.location}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.address}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Work Experience</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.workExp}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Status</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.status}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Last Working Day</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.lastWorkigDay}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Cognizant Experience</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.cognizantExp}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Liberty Exp</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.libertyExp}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Seat id</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.seatId}}</p>
          </div>
        </div>
        <hr />
        <p class="mb-4">
          <span class="text-primary font-italic me-1">Asset's/</span>Internet
          Details
        </p>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Asset Id</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.assetId}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">HeadPhones</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.headPhone}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Internet Details</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.internet}}</p>
          </div>
        </div>
        <hr />
        <p class="mb-4">
          <span class="text-primary font-italic me-1">Assigment/</span> Project
          Details
        </p>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Project Id</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.projectId}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">ProjectName</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.projectName}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Senior-Director</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.seniorDir}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Portfolio</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.portfolio}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Agile team</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.agileTeam}}</p>
          </div>
        </div>
        <hr />
        <p class="mb-4">
          <span class="text-primary font-italic me-1">Skills</span>&
          Certification
        </p>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0"> Skills</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.skills}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Certtification</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{employee.certification}}</p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>