<h2 style="text-align: center;">Transformation Data</h2>
<p><a routerLink="/home">Back-Home</a></p>
  <br>
<div class="scrollmenu">

  <table  id="excel-table" class="table table-bordered table-striped" >
  <thead>
    <tr>
      
    
      <th>Engagement Revenue</th>
      <th>Automation Revenue</th>
      <th>Automation Cost Saving</th>
      <th>NFT Revenue</th>
      <th>Total FTE in the Account</th>
      <th>Overall QA%</th>
      <th>Overall QE%</th>
      <th>Overall SDET%</th>
      <th>Specialized Workforce</th>
      <th>Total FTE Reduction</th>
      <th>Regression Automation Coverage%</th>
      <th>In Sprint Automation%</th>
      <th>CI Enable Apps%</th>
      <th>% Test run from Ci pipe</th>
      <th>Automation Leverage</th>
      <th>Agile Projects</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let employee of employees ">
      
      
      
      
    </tr>
  </tbody>
  </table>
  </div>
  <br>
<button
    name="logout"
    type="button"
    class="btn btn-btn-md btn-outline-primary"
    style="background-color: rgb(0, 0, 121); color: rgb(252, 252, 252);margin-left: 10px;"
    (click)="exportexcel()"
  >
    Download
  </button>
  <br>