<br>
<button name="login" type="button" class="btn btn-btn-md btn-outline-primary" style="
          background-color: rgb(0, 0, 121);
          color: rgb(252, 252, 252);
          margin-right: 5px;
          margin-top: 5px;
          float: right;
        " routerLink="/admin-login">
        Admin-Login
      </button>
      
      <button name="login" type="button" class="btn btn-btn-md btn-outline-primary" style="
          background-color: rgb(0, 0, 121);
          color: rgb(252, 252, 252);
          margin-right: 10px;
          margin-top: 5px;
          float: right;
        " (click)="whenClicked()">
        Logout
      </button>

    
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fff9f9;
}

</style>

<body>
  <div id="div_qkActioncontainer">
    <div class="col s12 m6 quickActionsCustomContainer" style="text-align: center; margin-left: 110px;">
     <!-- <div class="row" style="position: relative; height: 40px; padding: 15px 24px; background-color: #2E308E; margin: 0;"> --> 
      <h2 class="col s10 m4 quickActionsHeader">Home Page</h2>
      <br />
      
      <!-- <div class="col s2 m2 pinQuickActionsAppIcon" tabindex="0" role="img" aria-label="Pin or unpin your favourite quick actions" id="pinQuickActionsIcon"></div> -->
    </div>

<div class="row">
  <div class="column">
    <div class="card" routerLink="/net-allowance">
      <div class="quickActionAppIcon" >
        <img alt="Submit Timesheet" src="https://cdn-icons-png.flaticon.com/512/2972/2972473.png"
          style="width: 60px; height: 60px; margin-left: 20px" />
      </div>
      <p></p>
      <h4>Internet Allowance</h4>
      
    </div>
  </div>

  <div class="column">
    <div class="card" routerLink="/veiw-assignment">
      <div class="quickActionAppIcon">
        <img alt="View Assignments"
          src="https://cdn-icons-png.flaticon.com/512/5847/5847222.png"
          style="width: 60px; height: 60px; margin-left: 20px" />
          <p></p>
          <h4>View Assignment</h4>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card" routerLink="/veiw-employees">
      <div class="quickActionAppIcon">
        <img alt="Associate Profile" src="https://cdn-icons-png.flaticon.com/512/1250/1250740.png"
         style="width: 60px; height: 60px;" />
      </div>
      <p></p>
      <h4>Associate Profile</h4>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card" routerLink="/Skills">
      <div class="quickActionAppIcon">
        <img alt="Submit Timesheet" src="https://cdn-icons-png.flaticon.com/128/3078/3078951.png"
          style="width: 60px; height: 60px; margin-left: 30px" />
      </div>
      <p></p>
      <h4>Skill-Inventory</h4>
      
    </div>
  </div>
</div>




  
    <br>
    <br>

    
     
<div class="row">
  <div class="column">
    <div class="card" routerLink="/net-allowance">
      <div class="quickActionAppIcon">
        <img alt="View Timesheet" src="https://cdn-icons-png.flaticon.com/128/1924/1924301.png"
          style="width: 60px; height: 60px; margin-left: 30px" />
      </div>
      <p></p>
      <h4>Allocation Data</h4>
      
    </div>
  </div>

  <div class="column">
    <div class="card" routerLink="/esa-fg">
      <div class="quickActionAppIcon">
        <img alt="View Assignments"
          src="https://cdn-icons-png.flaticon.com/512/4388/4388165.png"
          style="width: 60px; height: 60px; margin-left: 20px" />
          <p></p>
          <h4>ESA & FG details</h4>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card" routerLink="/transformation">
      <div class="quickActionAppIcon">
        <img alt="Associate Profile" src="https://cdn-icons-png.flaticon.com/128/2920/2920323.png"
         style="width: 60px; height: 60px;" />
      </div>
      <p></p>
      <h4>Transformation Data</h4>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card" routerLink="/asset-details">
      <div class="quickActionAppIcon">
        <img alt="Submit Timesheet" src="https://cdn-icons-png.flaticon.com/128/595/595355.png"
          style="width: 60px; height: 60px; margin-left: 30px" />
        </div>
        <p></p>
        <h4>Assest-Details</h4>
        
        </div>
  </div>
</div>




          
         